* { margin: 0; padding: 0; box-sizing: border-box; }
body { font: 16pt Helvetica, Arial;}
form { padding: 3px; position: fixed; bottom: 0; width: 100%; margin-top: 1.5em; }
form input { border: 0; padding: 10px; margin-right: .5%; display: inline-block; }
/*form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }*/
#messages { list-style-type: none; margin: 0; padding: 0; }
#messages li { padding: 5px 10px; }
#messages li:nth-child(odd) { background: #eee; }
#chat-room {
  overflow: hidden;
  max-width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

#room {
  position: fixed;
  top: 0;
  left:0;
  width:100%;
  bottom: 5em;
  overflow-y: scroll;
}


#chat-room a {
  float: left;
  position: relative;
  padding: 0 20px;
  height: 0;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  color: #FFFFFF;
  border-right: 20px solid transparent;
  border-bottom: 30px solid #3D3D3D;
  opacity: .3;
  filter: alpha(opacity=30);
  transition: all .5s;
}

#chat-room a:hover,  #chat-room a:focus {
  border-bottom-color: rgba(255,0,4,0.60);
  opacity: 1;
  filter: alpha(opacity=100);
}

/*.button {*/
/*display: inline-block;*/
/*background: #fff;*/
/*color: blue;*/
/*font-family: helvetica;*/
/*font-size: 16pt;*/
/*float: left;*/

/*}*/
/*.button:focus {*/
/*border-color: #FF0000;*/
/*box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);*/
/*}*/

.chatbox {
  border: 1px #a1a1a1 solid;
  width: 70%;
  float: left;
}



/*#chat-room a:focus {*/
/*outline: 0;*/
/*}*/

/*#chat-room #current {*/
/*z-index: 10;*/
/*border-bottom-color: #3d3d3d;*/
/*opacity: .8;*/
/*filter: alpha(opacity=100);*/
/*cursor: default;*/
/*}*/

/*#content {*/
/*background-color: rgba(0,0,0,0.10);*/
/*border-top: 3px solid rgba(61,61,61,0.80);*/
/*padding: 2em;!*height: 220px;*!*/
/*overflow-y: auto;*/
/*height: 85%;*/
/*}*/

/*#content h2,  #content h3,  #content p {*/
/*margin: 0 0 15px 0;*/
/*}*/

/*#chatlog {*/
/*position: absolute;*/
/*margin-left: auto;*/
/*margin-right: auto;*/
/*left: 0;*/
/*right: 0;*/
/*padding: 0;*/
/*text-align: left;*/
/*font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;*/
/*color: #000000;*/
/*background-color: rgba(255,255,255,0.70);*/
/*border-top: solid 2px rgba(235,0,3,0.70);*/
/*width: 95%;*/
/*height: 88%;*/
/*overflow-y: auto;*/
/*word-wrap: break-word;*/
/*}*/

/*#c-input_wrap {*/
/*position: absolute;*/
/*margin-left: auto;*/
/*margin-right: auto;*/
/*left: 0;*/
/*right: 0;*/
/*padding: 0;*/
/*height: 63%;*/
/*}*/

/*#chatinput {*/
/*position: fixed;*/
/*left: 0;*/
/*bottom: 0;*/
/*width: 100%;*/
/*}*/

/*#chatwrap {*/
/*background: #000;*/
/*}*/

/*#chatwrap {*/
/*position: absolute;*/
/*height: 40px;*/
/*width: 95%;*/
/*margin-left: auto;*/
/*margin-right: auto;*/
/*left: 0;*/
/*right: 0;*/
/*bottom: -10px;*/
/*}*/

/*input.userchat {*/
/*display: inline-block;*/
/*float: left;*/
/*margin-left: 0;*/
/*width: 50%;*/
/*padding: 10px;*/
/*border: none;*/
/*border-bottom: solid 2px #3D3D3D;*/
/*transition: border, background-color .75s;*/
/*background-color: rgba(255,255,255,0.70);*/
/*font-weight: bold;*/
/*line-height: 18px;*/
/*color: #000000;*/
/*}*/

/*input:focus.userchat {*/
/*background-color: rgba(255,255,255,0.90);*/
/*border-bottom: solid 2px rgba(235,0,3,0.69);*/
/*outline: 0;*/
/*color: rgba(61,61,61,1.00);*/
/*font-weight: bold;*/
/*}*/

/*input[type=button].userchat {*/
/*display: block;*/
/*margin-top: -23px;*/
/*margin-left: 2px;*/
/*text-align: center;*/
/*padding-left: 2px;*/
/*float: left;*/
/*width: 40px;*/
/*font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;*/
/*color: rgba(61,61,61,0.70);*/
/*font-size: 16px;*/
/*background: rgba(255,255,255,0.70);*/
/*border-bottom: solid 2px #3D3D3D;*/
/*cursor :pointer;*/
/*transition: all .75s;*/
/*}*/

/*input[type=button].userchat:hover,*/
/*input[type=button].userchat:focus  {*/
/*font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;*/
/*color: #000000;*/
/*font-size: 16px;*/
/*border-bottom: solid 2px rgba(235,0,3,0.69);*/
/*background: rgba(255,255,255,0.90);*/
/*cursor: pointer;*/
/*}*/
