doctype html
html
  head
    include includes/head.pug
  body
    div(id="chat-room")
      div(id="room")
        h3 Chat Room
        ul(id="messages")
      div(id="chatwrap")
        div(id="chatinput")
          form.form-group.chatbox(name="chatbox", id="chatBox")
            div.input-group.input-group-lg
              input.form-control(id="m", name="message", type="text", placeholder="Enter message here!")
              span.input-group-btn
                button.btn.btn-primary(id="chatbutton", type = "button") Send

    script.
      document.getElementById('chatbutton')
        .addEventListener("click", function (event) {
          event.preventDefault();
          submitChat();
        });

      $("#chatBox").submit(function () {
        submitChat();
        return false;
      });

      function submitChat() {
        var msg = username + ': ' + $('#m').val();
        socket.emit('chat message', msg);
        $('#m').val('');
        return false;
      }

      var socket = io();
      var username = Math.random();
      socket.on('chat message', function (msg) {
        $('#messages').append($('<li>').text(msg));
        var m = $('#room');
        m.scrollTop(m.prop("scrollHeight"));
      });
//<div id="chat-room">
//  <div id="room">
//    <h2>Chat Room</h2>
//      <ul id="messages">
//      </ul>
//
//      <div id="chatwrap">
//        <div id="chatinput">
//          <form name="chatbox" class="form-group">
//          <div class="input-group input-group-lg">
//            <input class="form-control" id="m" name="message" type="text" autocomplete="off" onkeydown="onEnter(this,'chatbutton')" autofocus/><br>
//            <span class="input-group-btn">
//                <button class="btn btn-primary" id="chatbutton" type="button" onclick="submitChat()">Send</button>
//              </span>
//            </div>
//          </form>
//        </div>
//      </div>
//    </div>
//</div>
//   var form = document.querySelector('form[name="chatbox"]');
//      form.addEsventListener("click", function (event) {
//        event.preventDefault();
//        submitChat();
//      });
