doctype html
html
  head
    include includes/head.pug
  body
    include includes/header
    div(id="chat-room")
      div(id="room")
        ul(id="messages")
      div(id="chatwrap")
        div(id="chatinput")
          form.form-group.chatbox(name="chatbox", id="chatBox")
            div.input-group.input-group-lg
              input.form-control(id="m", name="message", type="text", placeholder="Enter message here!")
              span.input-group-btn
                button.btn.btn-primary(id="chatbutton", type = "button") Send

    script.
      document.getElementById('chatbutton')
        .addEventListener("click", function (event) {
          event.preventDefault();
          submitChat();
        });

      $("#chatBox").submit(function () {
        submitChat();
        return false;
      });

      function submitChat() {
        var msg = username + ': ' + $('#m').val();
        socket.emit('chat message', msg);
        $('#m').val('');
        return false;
      }

      var socket = io();
      var username = "You";
      socket.on('chat message', function (msg) {
        $('#messages').append($('<li>').text(msg));
        var m = $('#room');
        m.scrollTop(m.prop("scrollHeight"));
      });
