doctype html
html
  include includes/head.pug
body
  div.card
    div.card-block
      h4.card-title Login
      form.form-group(name="chatbox")
        input.form-control(id="email", type="email", name="message", placeholder="Enter your email")
        input.form-control(id="password", type="password", name="password", placeholder="Enter your password", (onkeydown)="onEnter(this, 'loginButton')")
        br
        div.input-group.input-group-lg.pull-right
          button.btn.btn-primary(id="loginButton", (onclick)="login(this)", type="button", value="Login") Login
          button.btn.btn-link(id="cancelBtn", type="button", value="Cancel") Cancel
include includes/footer.pug

