doctype html
html
  include includes/head.pug
body
  include includes/login-header
  div.card.login
    div.card-block
      h3.card-title Register
      form.form-group.register(name="register")
        input.form-control(id="name", type="text", name="name", placeholder="Full Name")
        input.form-control(id="username", type="text", name="username", placeholder="Username")
        input.form-control(id="email", type="email", name="message", placeholder="Email")
        input.form-control(id="password", type="password", name="password", placeholder="Password", (onkeydown)="onEnter(this, 'loginButton')")
        input.form-control(id="password-confirm", type="password", name="password", placeholder="Reenter password", (onkeydown)="onEnter(this, 'loginButton')")
        br
        div.input-group.input-group-lg
          span.float-right.col-md-8.col-sm-8
          span.col-md-4.col-sm-4
            button.btn.btn-primary.float-right(id="registerByn") Register
            button.btn.btn-link.float-right(id="loginButton") Login
include includes/footer.pug
